<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">Please enter your login and password!</p>
    
                  <div class="form-outline form-white mb-4">
                    <input 
                      type="email" 
                      id="typeEmailX" 
                      class="form-control form-control-lg" 
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': loginForm.get('email')?.touched && loginForm.get('email')?.invalid }"
                    />
                    <label class="form-label" for="typeEmailX">Email</label>
                    @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors) {
                      <div class="invalid-feedback">
                        @if (loginForm.get('email')?.errors?.['required']) {
                        <div>Email is required!</div>
                        }
                        @if (loginForm.get('email')?.errors?.['email']) {
                        <div>Invalid email address!</div>
                        }
                      </div>
                      }
                  </div>
    
                  <div class="form-outline form-white mb-4">
                    <input 
                      type="password" 
                      id="password" 
                      class="form-control form-control-lg" 
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': loginForm.get('password')?.touched && loginForm.get('password')?.invalid }"
                    />
                    <label class="form-label" for="password">Password</label>
                    @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors) {
                      <div class="invalid-feedback">
                        @if (loginForm.get('password')?.errors?.['required']) {
                        <div>Password is required</div>
                        }
                        @if (loginForm.get('password')?.errors?.['minlength']) {
                        <div>Password must be at least 6 characters</div>
                        }
                      </div>
                      }
                  </div>
    
                  <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
                  <div class="form-group">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                  </div>
                  
                  <div class="form-group">
                    @if (isLoginFailed) {
                    <div class="alert alert-danger" role="alert">
                      Login failed: {{ errorMessage }}
                    </div>
                    }
                  </div>
                  <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                  </div>
                </form>
                
  
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>